* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

#root > header,
#root > footer {
  padding: 1rem;
}

#root > header {
  background-color: steelblue;
}

#root > header h1 {
  margin-bottom: 1rem;
}

#root > header ul {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
}

button.active,
section > form button,
li > button {
  background-color: black;
  color: white;
}

#root > footer {
  text-align: center;
}

section > h2,
section > form {
  margin-bottom: 1rem;
}

section > form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

section > form input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
}

section > p {
  margin-bottom: 1rem;
}

ul.photos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

ul.photos-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
